Source: gl-117
Section: games
Priority: optional
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: Cédric Delfosse <cedric@debian.org>
Build-Depends: debhelper (>= 4), libglut3-dev (>= 3.7-2), libsdl-mixer1.2-dev (>= 1.2.1), libgl1-mesa-dev, libglu1-mesa-dev, libsdl1.2-dev (>= 1.2.4), autotools-dev 
Standards-Version: 3.8.0
Homepage: http://www.heptargon.de/gl-117/gl-117.html

Package: gl-117
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gl-117-data (= ${source:Version})
Description: An action flight simulator
 gl-117 is a 3D action flight simulator featuring 20 missions, different
 fighters, a random terrain generator, lighting effects, sound effects, music,
 and joystick support.

Package: gl-117-data
Architecture: all
Replaces: gl-117 (<< 1.2.0-3)
Description: Data files for gl-117
 gl-117 is a 3D action flight simulator featuring 20 missions, different
 fighters, a random terrain generator, lighting effects, sound effects, music,
 and joystick support.
 .
 This packages contains musics, sounds, models and textures for gl-117.
